.chat-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.navbar {
    background-color: #37776e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
}

.nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1.4vh 1.6vh;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #FEF6CD;
    color: black;
}

.chat-container {
    width: 80%;
    margin: auto;
    padding: 1vh;
    border-radius: 0.8vh;
    background: #3F8880;
    box-shadow: 0 0.4vh 0.6vh rgba(0,0,0,0.1);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-top: 20vh;
}

.message-container {
    height: 40vh;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
}

.message .sender {
    font-weight: bold;
}

.message-form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.message-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
}

.message-form button {
    width: 15%;
    padding: 10px;
}

.chat-container h1 {
    margin-left: 2vh;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}