body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  background-color: #37776e;
  overflow: hidden;
  margin-top: -0.92vh;
  margin-left: -0.91vh;
  width: 105%;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 1.4vh 1.6vh;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #FEF6CD;
  color: black;
}

.bck-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  object-fit: cover;
  z-index: -1;
}

h1,
h2,
h3 {
  text-align: center;
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 4vh;
}

h1,
h2 {
  color: #FEF6CD;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box,
.tent-box {
  width: 45%;
  min-width: 35vh;
  padding: 3vh;
  box-sizing: border-box;
  background-color: #d5ceaa;
  border-radius: 5%;
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
}

.user-box {
  margin-top: 6vh;
}

.tent-box {
  margin-top: 4vh;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5vh;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 1vh 0vh;
  margin-top: 1vh;
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  background-color: #37776e;
  color: white;
  padding: 1vh 2vh;
  width: 100%;
  margin-top: 1.5vh;
}

button[type="submit"]:hover {
  background-color: #2b5f58;
  cursor: pointer;
}

button[type="submit"]:first-child {
  margin-top: 0;
}

.total-tents {
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.plus-btn,
.minus-btn {
  background-color: #37776e;
  color: white;
  padding: 0.5vh 1vh;
  border: none;
  cursor: pointer;
  font-size: 1.6vh;
  margin-right: 0.5vh;
  margin-top: 1vh;
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.plus-btn:hover,
.minus-btn:hover {
  background-color: #2b5f58;
}