/* General styling */
body {
  font-family: sans-serif;
  margin: 40px;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form styling */
.user-container {
  display: flex;
  justify-content: space-between;
}

.user-box, .tent-box {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"], select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  width: 100%;
  margin-top: 10px;
}

button[type="submit"]:first-child {
  margin-top: 0; /* Remove top margin for the first button */
}

/* Plus and minus button styling */
.plus-btn, .minus-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.plus-btn:hover, .minus-btn:hover {
  background-color: #0056b3;
}

/* Centering the tent management section */
.tent-box {
  text-align: center;
}

/* Centering the total number of tents */
#totalTents {
  margin: 0 auto;
}
