body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    background-color: #3F8880;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #f4f4f4; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f4f4f4; 
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #f4f4f4; 
    background-color: #9dc09d; 
    border-radius: 3px;
    color: #000000; 
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    color: #3F8880;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #9dc09d;
}
