body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.login-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3F8880;
    border-radius: 1.5vh;
    padding: 2vh;
    width: 35vh;
    height: 30vh;
    box-shadow: 0px 0px 0.1vh rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-content {
    text-align: center;
    color: #fff;
    position: relative;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.login-content input[type="text"],
.login-content input[type="password"] {
    margin: 0 auto;
    display: block;
    width: 25vh;
    height: 2vh;
    padding: 0.8vh;
    border: 0.1vh solid #f4f4f4;
    background-color: #9dc09d;
    border-radius: 0.3vh;
    color: black;
    margin-top: 0.7vh;
}

.login-content label {
    color: #ffffff;
    text-align: center;
}

.form-group-username {
    margin-top: 3.2vh;
}

.form-group-pass {
    margin-top: 2vh;
}

.form-group-text {
    font-size: 1.6vh;
}

.login-button {
    padding: 0.1vh;
    border: none;
    background-color: #9dc09d;
    color: #fff;
    border-radius: 0.3vh;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 10vh;
    height: 4vh;
    margin-top: 3vh;
    font-size: 1.5vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    background-color: #7c9c7c;
}

.close-login-popup {
    background-color: #9dc09d;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    top: 2vh;
    left: 2vh;
    border: none;
    width: 3vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-login-popup-icon {
    font-size: 1vh;
}

.close-login-popup:hover {
    background-color:#7c9c7c
}

.switch-container {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4vh;
    height: 2vh;
}

.switch-input {
    display: none;
}

.switch-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 4vh;
    height: 2vh;
    background-color: #dcdcdc;
    border-radius: 1vh;
    cursor: pointer;
}

.switch-label::after {
    content: '';
    display: block;
    width: 1.6vh;
    height: 1.6vh;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0.2vh;
    left: 0.2vh;
    transition: left 0.3s;
}

.switch-input:checked+.switch-label {
    background-color: #9dc09d;
}

.switch-input:checked+.switch-label::after {
    left: 2.2vh;
}

.container {
    text-align: center;
    color: #fff;
    margin-top: 12vh;
}

.logo {
    width: 40vh;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.vibra-text {
    font-size: 3vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    margin-top: 15vh;
    color: #fff;
    padding: 0.5vh;
}

.next-button {
    padding: 0.8vh 1.6vh;
    font-size: 1.9vh;
    width: 15vh;
    height: 4.5vh;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
    background-color: #3F8880;
    color: #fff;
    border-radius: 0.5vh;
    cursor: pointer;
    margin-top: 10vh;
    border: none;
}

.next-button:hover {
    background-color: #9dc09d;
}

.button:hover {
    background-color: #9dc09d;
}

.site-description {
    text-align: center;
}

.site-description h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 2vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    font-size: 2.5vh
}

.site-description-text {
    font-size: 1.8vh;
}

.site-description-bv {
    font-size: 2vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.site-description-box {
    background-color: rgba(124, 156, 124, 0.8);
    width: 80%;
    margin: 5vh auto;
    padding: 2vh;
    color: white;
    max-height: 40vh;
    overflow-y: auto;
    border-radius: 1.5vh;
    box-shadow: 0px 0px 1vh rgba(0, 0, 0, 0.5);
    border: 0.2vh solid #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 15vh;
}

.team-container {
    background-color: rgba(124, 156, 124, 0.8);
    padding: 5vh;
    text-align: center;
    margin-top: 15vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
    margin-bottom: 10vh;
}

.team-members {
    display: flex;
    justify-content: center;
}

.team-member {
    background-color: rgba(200, 195, 195, 0.5);
    padding: 4vh;
    margin-bottom: 3vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 2vh;
    width: 15vh;
}

@media screen and (max-width: 768px) {
    .team-members {
        flex-direction: column;
        margin-left: 4.7vh;
    }
}

.team-member img {
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
}

.team-member:hover {
    transform: translateY(-0.5vh);
}

.member-name {
    font-size: 2vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    color: white;
}

.team-container h2 {
    color: #fff;
    margin-top: -2vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    font-size: 2.5vh;
}

.contact-container {
    background-color: rgba(124, 156, 124, 0.8);
    padding: 3vh;
    text-align: center;
    margin-top: 6vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
}

.contact-container h2 {
    color: #fff;
    font-size: 2.4vh;
    margin-bottom: 2vh;
}

.contact-info {
    color: #fff;
    font-size: 1.6vh;
    line-height: 1.6;
    margin-bottom: 1vh;
}

.contact-email {
    color: #fff;
    font-size: 1.6vh;
    line-height: 1.6;
    margin-bottom: 2vh;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

html {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}