* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
}

.content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.bck-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.4vh;
  margin-right: 1vh;
}

.t-logo {
  width: 7vh;
  height: auto;
}

.dashboard-button {
  position: absolute;
  top: 3.2vh;
  right: 11vh;
  padding: 0.7vh 1.7vh;
  background-color: #3F8880;
  color: #FAFCFE;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  font-size: 1.6vh;
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.dashboard-button:hover {
  background-color: #37776e;
}

.start-button {
  position: absolute;
  top: 3.2vh;
  right: 25.5vh;
  padding: 0.7vh 1.7vh;
  background-color: #3F8880;
  color: #FAFCFE;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  font-size: 1.6vh;
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.start-button:hover {
  background-color: #37776e;
}

h1 {
  margin-bottom: 3vh;
  color: #fffae4;
  margin-left: 2vh;
  margin-top: 3vh;
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
  font-size: 3.5vh;
}

.table-container {
  width: 95%;
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #FEF6CD;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #3F8880;
  color: #fff;
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.table-head {
  position: sticky;
  top: 0;
  background-color: #3F8880;
  color: #fff;
}

th,
td {
  padding: 1.3vh 5vh;
}


tbody tr:nth-child(even) {
  background-color: rgb(231, 224, 184);
}

tbody tr:hover {
  background-color: #d5ceaa;
}

.generate-password-btn {
  width: 10vh;
  height: 4vh;
  border: none;
  background-color: #3F8880;
  color: #FAFCFE;
  cursor: pointer;
  border-radius: 0.5vh;
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.generate-password-btn:hover {
  background-color: #37776e;
}

.button-all-passwords {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vh;
  height: 5vh;
  border: none;
  background-color: #3F8880;
  color: #FAFCFE;
  cursor: pointer;
  border-radius: 0.5vh;
  position: absolute;
  text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.5vh rgba(0, 0, 0, 0.4);
  margin-top: 2.2vh;
  left: 50%;
  transform: translateX(-50%);
}

.button-all-passwords:hover {
  background-color: #37776e;
}

@media screen and (max-width: 768px) {
  th,
  td {
    font-size: 1.8vh;
    padding: 1.3vh;
  }
  
  .table-container {
    overflow-x: auto;
  }

  .t-logo {
    width: 6vh;
    height: auto;
  }

  h1 {
    margin-bottom: 3vh;
    color: #fffae4;
    margin-left: 2vh;
    margin-top: 3vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    font-size: 2.2vh;
  }

  .dashboard-button {
    position: absolute;
    top: 3.2vh;
    right: 7.5vh;
    padding: 0.7vh 1.7vh;
    background-color: #3F8880;
    color: #FAFCFE;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1vh;
    box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
  }

  .start-button {
    position: absolute;
    top: 3.2vh;
    right: 16vh;
    padding: 0.7vh 1.7vh;
    background-color: #3F8880;
    color: #FAFCFE;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1vh;
    box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
  } 
}