.bck-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    background-color: #37776e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-left: -1vh;
}

.nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1.4vh 1.6vh;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #FEF6CD;
    color: black;
}

.t-logo {
    width: 14vh;
    height: auto;
    padding-bottom: 10vh;
    margin-top: 6.5vh;
    margin-left: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 8vh;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 50vh;
}

.bi-square:hover,
.bi-squarec:hover {
    background-color: #d5ceaa;
    color: #FEF6CD;
    transform: translateY(-0.5vh);
}

.bi-square,
.bi-squarec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh;
    height: 15vh;
    font-size: 2.4vh;
    border: none;
    background-color: #FEF6CD;
    color: #A69F7C;
    cursor: pointer;
    border-radius: 0.5vh;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.bi-squarec {
    flex-direction: column;
}

.bi-icon {
    font-size: 6.4vh;
}

.update-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vh;
    height: 8vh;
    border: none;
    background-color: #3F8880;
    color: #FAFCFE;
    cursor: pointer;
    border-radius: 0.5vh;
    position: absolute;
    top: 7vh;
    right: 3vh;
    box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, 0.4);
}

.update-button:hover {
    background-color: #37776e;
}

.update-icon {
    font-size: 5vh;
}

.update-popup {
    display: none;
    position: fixed;
    bottom: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3F8880;
    color: #FAFCFE;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 80%;
    max-width: 50vh;
    height: 80%;
    max-height: 50vh;
    overflow: auto;
    text-align: center;
    animation: slideIn 0.2s forwards;
}

@keyframes slideIn {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0;
    }
}

.update-popup.hide {
    animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
    from {
        bottom: 0;
    }

    to {
        bottom: -100%;
    }
}

.update-column {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-popup-title h2 {
    margin-top: 0.8vh;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.update-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

.close-update {
    background-color: #FEF6CD;
    color: #A69F7C;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    top: 2vh;
    left: 2vh;
    border: none;
    width: 5vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-update:hover {
    background-color: #d5ceaa;
}

.close-update-icon {
    font-size: 3vh;
}

.update-logo {
    width: 15vh;
    height: auto;
    margin-top: 1.5vh;
}

.tent-name-update {
    margin-top: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.input-field-update {
    width: 60%;
    padding: 1vh 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.1vh solid #ffffff;
    outline: none;
    background: transparent;
    color: #FEF6CD;
    margin-top: -0.5vh;
    font-size: 1.4vh;
}

.input-field-update::placeholder {
    color: #FFFFFF;
}

.type-np {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    text-shadow: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
}

.toggle-password {
    position: absolute; 
    top: 0; 
    background: none; 
    border: none; 
    font-size: 1vh; 
    cursor: pointer;
    color:#FFFFFF;
}

.submit-btn-update {
    width: 30%;
    padding: 1vh 3vh;
    cursor: pointer;
    margin: auto;
    background-color: #FEF6CD;
    color: #A69F7C;
    border: 0;
    outline: none;
    border-radius: 1vh;
    margin-top: 4.5vh;
    font-size: 1.3vh;
    font-weight: bold;
}